<ol reversed>
{% for post in collections.posts | reverse %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a> on
    <time datetime="{{ post.date.toISOString() }}" class="font-serif">{{ post.date | humanDate }}</time>
  </li>
{% endfor %}
</ol>
