<header class="w-full py-4">
  <div class="max-w-xl mx-auto px-4 flex flex-row justify-between items-center">
    <a href="/">
      <img src="/images/profile.jpeg" class="rounded-full w-20 sm:w-24" alt="Jake Mulley's headshot">
      <span class="sr-only">Jake Mulley</span>
    </a>
    <nav>
      <ul class="flex space-x-4">
        <li>
          <a href="/" class="p-1 underline decoration-valencia decoration-2 underline-offset-2 hover:bg-valencia hover:text-white">Home</a>
        </li>
        <li>
          <a href="/about/" class="p-1 underline decoration-valencia decoration-2 underline-offset-2 hover:bg-valencia hover:text-white">About</a>
        </li>
        <li>
          <a href="/blog/" class="p-1 underline decoration-valencia decoration-2 underline-offset-2 hover:bg-valencia hover:text-white">Blog</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
