<a href="#main" id="skip-link" class="absolute w-px h-px m-0 overflow-hidden whitespace-nowrap underline block focus:absolute focus:w-auto focus:h-auto focus:overflow-visible focus:z-10">Skip to main content</a>

<header class="w-full py-4">
  <div class="max-w-xl mx-auto px-4 flex flex-row justify-between items-center">
    <a href="/">
      <img src="/images/profile.jpeg" class="rounded-full w-20 sm:w-24" alt="Jake Mulley's headshot">
      <span class="sr-only">Jake Mulley</span>
    </a>
    <nav>
      <ul class="flex space-x-4">
        {% for link in collections.all | eleventyNavigation %}
          <li>
            <a href="{{ link.url }}" class="p-1 underline decoration-valencia decoration-2 underline-offset-2 hover:bg-valencia hover:text-white">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
