<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="utf-8">

    {% set pageTitle = [ title, meta['site-title'] ] %}
    {% if page.url == "/" %}
      {% set pageTitle = [ meta['site-title'] ] %}
    {% endif %}
    {% set pageTitle = pageTitle | join(" | ") %}
    <title>{{ pageTitle }}</title>

    <meta name="author" content="{{ meta['site-author'] }}">

    {% if not description %}
      {% set description = meta['site-description'] %}
    {% endif %}

    <meta name="description" content="{{ description }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/main.css?v={% now %}">

    <!-- SEO -->
    <meta name="robots" content="index, follow">

    <!-- Open Graph protocol (https://ogp.me) -->
    <meta property="og:title" content="{{ pageTitle }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ meta['site-url'] }}/images/profile.jpeg">
    <meta property="og:url" content="{{ meta['site-url'] }}{{ page.url }}">
    {% if description %}
      <meta property="og:description" content="{{ description }}">
    {% endif %}
    <meta property="og:locale" content="en">
    <meta property="og:site_name" content="{{ meta['site-title'] }}">

    <!-- Twitter Card (https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started) -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ meta['site-twitter'] }}">

    <!-- Canonical links -->
    <link rel="canonical" href="{{ meta['site-url'] }}{{ page.url }}">

    <!-- Favicons -->
    {% favicons %}
  </head>
  <body class="bg-white flex flex-col min-h-screen antialiased">

    {% include "components/header.njk" %}

    <main id="main" tabindex="-1" class="w-full flex-grow">
      {% block content %}
      {% endblock %}
      {% if page.url !== "/" %}
        <nav>
          <div class="max-w-xl mx-auto px-4 pb-12">
            <p><a href="/" class="underline text-valencia decoration-2 underline-offset-2 hover:no-underline">&larr; Back home</a></p>
          </div>
        </nav>
      {% endif %}
    </main>

    {% include "components/footer.njk" %}

    <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Person",
      "name": "Jake Mulley",
      "url": "https://jakemulley.com/",
      "image": "https://jakemulley.com/images/profile.jpeg",
      "email": "mailto:me@jakemulley.com",
      "sameAs": [
        "https://twitter.com/carboia",
        "https://linkedin.com/in/jakemulley",
        "https://github.com/jakemulley"
      ],
      "jobTitle": "Principal Technical Architect",
      "worksFor": {
        "@type": "Organization",
        "name": "Ministry of Justice",
        "sameAs": "https://www.gov.uk/government/organisations/ministry-of-justice"
      }
    }
    </script>
  </body>
</html>
