{% if page.url == "/" %}
  {% set pageTitle = title + " | " + subtitle %}
{% else %}
  {% set pageTitle = subtitle + " | " + title %}
{% endif %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ pageTitle }}</title>
  <meta name="author" content="Jake Mulley">
  <meta name="description" content="Jake Mulley is Head of Hosting &amp; Digital Operations at Ministry of Justice, with 9 years experience across agencies, startups, the public sector, charities, and government organisations.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/main.css?v={% now %}">
  {% favicons %}
  <meta name="theme-color" content="#DB3344">
</head>
<body>
  <header>
    <a href="/">
      <img alt="Jake Mulley's headshot" src="/images/profile.jpeg">
      <h1>{{ title }}</h1>
    </a>
    <h2>{{ subtitle }}</h2>
  </header>
  <main class="content">
    {% block content %}
    {% endblock %}
    {% if page.url !== "/" %}
      <nav>
        <p><a href="/">&larr; Back home</a></p>
      </nav>
    {% endif %}
  </main>
  <footer>
    <p>👋 Say hello: <a href="https://twitter.com/carboia">Twitter</a>, <a href="https://linkedin.com/in/jakemulley">LinkedIn</a>, <a href="https://github.com/jakemulley">GitHub</a>, <a href="mailto:me@jakemulley.com">e-mail</a></p>
    <p class="meta">&copy; Jake Mulley</p>
  </footer>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Person",
    "name": "Jake Mulley",
    "url": "https://jakemulley.com/",
    "image": "https://jakemulley.com/images/profile.jpeg",
    "email": "mailto:me@jakemulley.com",
    "sameAs": [
      "https://twitter.com/carboia",
      "https://linkedin.com/in/jakemulley",
      "https://github.com/jakemulley"
    ],
    "jobTitle": "Head of Hosting and Digital Operations",
    "worksFor": {
      "@type": "Organization",
      "name": "Ministry of Justice",
      "sameAs": "https://www.gov.uk/government/organisations/ministry-of-justice"
    }
  }
  </script>
</body>
</html>
