{% set pageTitle = [ title, meta['site-title'] ] %}
{% if page.url == "/" %}
  {% set pageTitle = pageTitle | reverse %}
{% endif %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ pageTitle | join(" | ") }}</title>
  <meta name="author" content="Jake Mulley">
  <meta name="description" content="Jake Mulley is Head of Hosting &amp; Digital Operations at Ministry of Justice, with 9 years experience across agencies, startups, the public sector, charities, and government organisations.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/main.css?v={% now %}">
  {% favicons %}
  <meta name="theme-color" content="#DB3344">
</head>
<body class="flex flex-col min-h-screen antialiased text-oxford-blue bg-white">
  <header class="mx-auto max-w-[520px] p-4 pt-8 w-full">
    <a href="/" class="inline-block">
      <img alt="Jake Mulley's headshot" src="/images/profile.jpeg" class="rounded-full overflow-hidden w-[128px]">
      <h1 class="font-bold text-[2rem] mt-5">{{ pageTitle | first }}</h1>
    </a>
    <h2 class="mb-5 opacity-70 font-semibold text-2xl">{{ pageTitle | last }}</h2>
  </header>
  <main class="flex-grow leading-7 mx-auto p-4 w-full max-w-[520px] prose prose-oxford-blue prose-a:no-underline prose-a:border-b-2 prose-a:border-b-valencia prose-a:text-valencia prose-a:font-normal hover:prose-a:border-b-transparent">
    {% block content %}
      {{ content | safe }}
    {% endblock %}
    {% if page.url !== "/" %}
      <nav>
        <p><a href="/">&larr; Back home</a></p>
      </nav>
    {% endif %}
  </main>
  <footer class="w-full bg-alablaster mt-4 px-4 py-3 text-center space-y-3">
    <p>👋 Say hello: <a class="border-b-oxford-blue border-b-2 hover:border-b-transparent" href="https://twitter.com/carboia">Twitter</a>, <a class="border-b-oxford-blue border-b-2 hover:border-b-transparent" href="https://linkedin.com/in/jakemulley">LinkedIn</a>, <a class="border-b-oxford-blue border-b-2 hover:border-b-transparent" href="https://github.com/jakemulley">GitHub</a>, <a class="border-b-oxford-blue border-b-2 hover:border-b-transparent" href="mailto:me@jakemulley.com">e-mail</a></p>
    <p class="text-xs">&copy; Jake Mulley</p>
  </footer>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Person",
    "name": "Jake Mulley",
    "url": "https://jakemulley.com/",
    "image": "https://jakemulley.com/images/profile.jpeg",
    "email": "mailto:me@jakemulley.com",
    "sameAs": [
      "https://twitter.com/carboia",
      "https://linkedin.com/in/jakemulley",
      "https://github.com/jakemulley"
    ],
    "jobTitle": "Head of Hosting and Digital Operations",
    "worksFor": {
      "@type": "Organization",
      "name": "Ministry of Justice",
      "sameAs": "https://www.gov.uk/government/organisations/ministry-of-justice"
    }
  }
  </script>
</body>
</html>
