{% extends "layouts/base.njk" %}

{% block content %}
  <div class="max-w-xl mx-auto p-4 pb-8">
    <article class="prose prose-slate prose-headings:font-serif prose-a:text-valencia prose-a:decoration-2 prose-a:underline-offset-2 hover:prose-a:no-underline">
      <header>
        <h1>{{ title }}</h1>
        {% if date %}
          <p class="text-slate-500 font-serif">Published on <time datetime="{{ date.toISOString() }}">{{ date | humanDate }}</time></p>
        {% endif %}
      </header>
      {{ content | safe }}
    </article>
  </div>
{% endblock %}
