---
const links = [
  {
    title: "Home",
    url: "/",
  },
  {
    title: "About",
    url: "/about/",
  },
  {
    title: "Blog",
    url: "/blog/",
  },
];
---

<header class="not-prose space-y-2">
  <a href="/" class="inline-flex">
    <img src="/images/profile.jpeg" class="rounded-full w-24" />
    <span class="sr-only">Jake Mulley</span>
  </a>
  <nav>
    <ul class="flex space-x-2">
      {
        links.map((link) => (
          <li>
            <a
              href={link.url}
              class="font-semibold text-valencia-500 dark:text-valencia-400 no-underline underline-offset-2 decoration-2 hover:underline"
            >
              {link.title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
<hr />
