---
const links = [
  {
    title: "Home",
    url: "/",
  },
  {
    title: "About",
    url: "/about/",
  },
  {
    title: "Blog",
    url: "/blog/",
  },
];
---

<header class="not-prose space-y-2">
  <a href="/" class="inline-flex">
    <img
      src="/images/profile.jpeg"
      class="rounded-full w-24"
      alt="Jake Mulley's headshot"
    />
    <span class="sr-only">Jake Mulley</span>
  </a>
  <nav>
    <ul class="flex space-x-2">
      {
        links.map((link) => (
          <li>
            <a
              href={link.url}
              class="font-medium text-[var(--tw-prose-links)] underline decoration-valencia-500 decoration-2 underline-offset-2 hover:bg-valencia-500 hover:text-white border-2 border-transparent hover:border-valencia-500"
            >
              {link.title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
<hr />
