---
const links = [
  {
    title: 'Home',
    url: '/',
  },
  {
    title: 'About',
    url: '/about/',
  },
  {
    title: 'Blog',
    url: '/blog/',
  },
];
---

<header class="not-prose space-y-2">
  <a href="/" class="inline-flex">
    <img
      src="/images/profile.jpeg"
      class="w-24 rounded-full"
      alt="Jake Mulley's headshot"
    />
    <span class="sr-only">Jake Mulley</span>
  </a>
  <nav>
    <ul class="flex space-x-2">
      {
        links.map((link) => (
          <li>
            <a
              href={link.url}
              class="border-2 border-transparent font-medium text-(--tw-prose-links) underline decoration-valencia-500 decoration-2 underline-offset-2 hover:border-valencia-500 hover:bg-valencia-500 hover:text-white"
            >
              {link.title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
<hr />
