---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in collections.all %}
    {% if not page.data.draft %}
      <url>
         <loc>{{ meta['site-url'] }}{{ page.url | url }}</loc>
         <lastmod>{{ page.date.toISOString() }}</lastmod>
         <changefreq>monthly</changefreq>
         <priority>0.8</priority>
      </url>
    {% endif %}
  {%- endfor -%}
</urlset>
