---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import site from "../data/site.json";

const { title, description } = Astro.props;
const url = Astro.url.pathname;
---

<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />

    {
      url === "/" ? (
        <title>{site["site-title"]}</title>
      ) : (
        <title>{[title, site["site-title"]].join(" | ")}</title>
      )
    }

    <meta name="author" content={site["site-author"]} />

    {
      description ? (
        <meta name="description" content={description} />
      ) : (
        <meta name="description" content={site["site-description"]} />
      )
    }

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- SEO -->
    <meta name="robots" content="index, follow" />

    <!-- Open Graph protocol (https://ogp.me) -->
    {
      url === "/" ? (
        <meta property="og:title" content={site["site-title"]} />
      ) : (
        <meta
          property="og:title"
          content={[title, site["site-title"]].join(" | ")}
        />
      )
    }
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content={`${site["site-url"]}/images/profile.jpeg`}
    />
    <meta property="og:url" content={`${site["site-url"]}${url}`} />
    {
      description ? (
        <meta property="og:description" content={description} />
      ) : (
        <meta property="og:description" content={site["site-description"]} />
      )
    }
    <meta property="og:locale" content="en" />
    <meta property="og:site_name" content={site["site-title"]} />

    <!-- Twitter Card (https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started) -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content={site["site-twitter"]} />

    <!-- Canonical links -->
    <link rel="canonical" href={`${site["site-url"]}${url}`} />

    <!-- Favicons -->
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
  </head>
  <body class="antialiased bg-white dark:bg-slate-900">
    <a
      href="#main"
      id="skip-link"
      class="absolute w-px h-px m-0 overflow-hidden whitespace-nowrap underline block focus:absolute focus:w-auto focus:h-auto focus:overflow-visible focus:z-10"
      >Skip to main content</a
    >

    <div class="max-w-2xl mx-auto p-8">
      <div
        class="max-w-none prose prose-slate dark:prose-invert lg:prose-lg prose-a:underline prose-a:decoration-valencia-500 prose-a:decoration-2 prose-a:underline-offset-2 hover:prose-a:bg-valencia-500 hover:prose-a:text-white prose-a:border-2 prose-a:border-transparent hover:prose-a:border-valencia-500 prose-img:rounded-md lg:prose-img:rounded-lg"
      >
        <Header />
        <main id="main" tabindex="-1">
          <slot />
          {
            url === "/" ? (
              ""
            ) : (
              <>
                <hr />
                <nav>
                  <a href="/">&larr; Back home</a>
                </nav>
              </>
            )
          }
        </main>
        <Footer />
      </div>
    </div>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org/",
        "@type": "Person",
        "name": "Jake Mulley",
        "url": "https://jakemulley.com/",
        "image": "https://jakemulley.com/images/profile.jpeg",
        "email": "mailto:me@jakemulley.com",
        "sameAs": [
          "https://twitter.com/carboia",
          "https://linkedin.com/in/jakemulley",
          "https://github.com/jakemulley"
        ],
        "jobTitle": "Principal Technical Architect",
        "worksFor": {
          "@type": "Organization",
          "name": "Ministry of Justice",
          "sameAs": "https://www.gov.uk/government/organisations/ministry-of-justice"
        }
      }
    </script>
  </body>
</html>
