---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <article>
    <header>
      <h1>{frontmatter.title}</h1>
      {
        !frontmatter.date ? (
          ""
        ) : (
          <p>
            Published on{" "}
            <time datetime={frontmatter.date.toISOString()}>
              {frontmatter.date.toLocaleString("en-GB", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })}
            </time>
          </p>
        )
      }
    </header>
    <slot />
  </article>
</Layout>
